:root {
  --code-highlight: #FF9900;
  --link-highlight: #1098F7;
  --toc-highlight:  #00845e;
}


/* css styles */
.math.inline .MathJax  {
  font-size: 100% !important;
}

.math.display .MathJax  {
  font-size: 100% !important;
}

.video-container {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 0; /* Align to the bottom */
  right: 10px; /* Align to the right with a small offset */
  margin: 10px; /* Add margin for spacing */
  z-index: 1000; /* Ensure it's above other content */
  overflow: auto; /* Add scrollbars if needed */
  min-width: 260px; /* Minimum width */
  min-height: 150px; /* Minimum height */
  transition: transform 0.3s ease; /* Smooth slide effect */
}

.tippy-box .video-container{
  visibility: hidden;
}

/* Hide partially when viewport is below X pixels */
@media (max-width: 800px) {
  .video-container {
    transform: translateX(95%); /* Move 80% of the container offscreen */
  }
}

/* Optional: Show full container on hover */
.video-container:hover {
  transform: translateX(0); /* Slide into view */
}


.quarto-video {
  background-color: white; /* Background color to ensure it's visible */
  padding: 10px; /* Add padding for aesthetics */
  border: 1px solid #ccc; /* Optional border for visual separation */
  border-radius: 5px; /* Optional border radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Optional shadow for better visibility */
}

/* Figure caption */
figcaption {
  color: black;
  font-style: italic;
}


/* Bold the part titles in the menu */
a.sidebar-item-text[data-original-href*="index.html"] span.menu-text {
    font-weight: bold;
}

/* Move the webr status to the title */
#title-block-header {
  display: grid;
  grid-template-areas:
    "breadcrumbs breadcrumbs"
    "title status";
  grid-template-columns: 1fr auto; /* Title takes remaining space, status fits content */
  row-gap: 8px; /* Space between rows */
}

.quarto-page-breadcrumbs {
  grid-area: breadcrumbs;
}

.quarto-title {
  grid-area: title;
}

.quarto-title-meta {
  grid-area: status;
}

#qwebr-status-message-area {
  grid-area: status;
  align-self: center; /* Vertically align with title */
}

#qwebr-status-message-title {
  margin-top: 0em !important;
}

/* Inline code */
p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  padding: 2px 5px!important;
  background-color: #dddddd!important;
  color: inherit;
}

/* Non WEBR code-blocks */
div.sourceCode {
  border: 1px solid var(--code-highlight);
  border-left: 3px solid var(--code-highlight);
  border-radius: 0.25rem;
}

/* WEBR code-output */
.qwebr-output-code-area, .qwebr-output-code-area code:not(.sourceCode){
  background-color: #eee;
}

/* Change font family */
body {
  font-family: Sans-Serif;
}

/* Change link color */
a {
  color: var(--link-highlight);
}

.sidebar .toc-actions a:hover,.sidebar .quarto-other-links a:hover,.sidebar .quarto-code-links a:hover,.sidebar .quarto-alternate-formats a:hover,.sidebar .quarto-alternate-notebooks a:hover {
  color: var(--link-highlight);
}

/* Change toc link and highlight color */
.sidebar nav[role=doc-toc] ul>li>a.active,.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid var(--toc-highlight);
    color: var(--toc-highlight)!important;
}

.sidebar nav[role=doc-toc] ul>li>a:hover,.sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
    color: var(--toc-highlight)!important;
}

div.sidebar-item-container .active, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
  color: var(--toc-highlight);
}

div.sidebar-item-container:hover,div.sidebar-item-container:focus {
    color: var(--toc-highlight);
}

/* Change navbar highlight */
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  font-weight: 800;
}
