/* css styles */
.math.inline .MathJax  {
  font-size: 100% !important;
}

.math.display .MathJax  {
  font-size: 100% !important;
}

.video-container {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 0; /* Align to the bottom */
  right: 10px; /* Align to the right with a small offset */
  margin: 10px; /* Add margin for spacing */
  z-index: 1000; /* Ensure it's above other content */
  overflow: auto; /* Add scrollbars if needed */
  min-width: 260px; /* Minimum width */
  min-height: 150px; /* Minimum height */
  transition: transform 0.3s ease; /* Smooth slide effect */
}

.tippy-box .video-container{
  visibility: hidden;
}

/* Hide partially when viewport is below X pixels */
@media (max-width: 800px) {
  .video-container {
    transform: translateX(95%); /* Move 80% of the container offscreen */
  }
}

/* Optional: Show full container on hover */
.video-container:hover {
  transform: translateX(0); /* Slide into view */
}

.quarto-video {
  background-color: white; /* Background color to ensure it's visible */
  padding: 10px; /* Add padding for aesthetics */
  border: 1px solid #ccc; /* Optional border for visual separation */
  border-radius: 5px; /* Optional border radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Optional shadow for better visibility */
}